/* ==========================================================================
    BOILERPLATE STYLES
    ========================================================================== */


/* ==========================================================================
        IMPORTS
        ========================================================================== */

@import url('../machines/libraries/bootstrap/less/bootstrap.less');
@import url('../machines/libraries/font-awesome/less/font-awesome.less');

/* ==========================================================================
        COLORS
        ========================================================================== */

@white: rgb(255, 255, 255);
@offWhite: rgb(247, 247, 247);
@greyLightest: rgb(238, 238, 238);
@greyLighter: rgb(221, 221, 221);
@greyLight: rgb(188, 188, 188);
@greyMid: rgb(122, 122, 122);
@greyDark: rgb(61, 61, 61);
@greyDarker: rgb(30, 30, 30);
@greyDarker: rgb(16, 16, 16);
@offBlack: rgb(8, 8, 8);
@black: rgb(0, 0, 0);
@defaultColor: @greyDark;
@turquoise: rgb(11, 95, 119);
@relaGray: rgb(77, 77, 77);
@subNavBgColor: rgb(0, 130, 125);
@SocialGrey: rgb(72, 72, 72);
@chaptersBlue: rgb(28, 150, 189);

/* ==========================================================================
        TEMPLATE VARIABLES
        ========================================================================== */

@headerHeight: 167px;
@footerHeight: 150px;
@mobileHeaderHeight: 130px;
@headerNavBoxHeight: 58px;
@fontFamily: 'proxima-nova', sans-serif;
@zindexMainMenu: 100;
@zindexLogo: 101;
@containerWidth: 970px;
@fontWeightRegular: 400;
@fontWeightSemibold: 600;
@fontWeightbold: 700;

/* ==========================================================================
        MEDIA QUERIES
        ========================================================================== */

@media0: ~"(min-width: 1440px)";
@media0_: ~"(max-width: 1439px)";
@media1: ~"(min-width: 1200px)";
@media1_: ~"(max-width: 1199px)";
@media2: ~"(min-width: 960px)";
@media2_: ~"(max-width: 959px)";
@media3: ~"(min-width: 720px)";
@media3_: ~"(max-width: 719px)";
@media4: ~"(min-width: 480px)";
@media4_: ~"(max-width: 479px)";

/* ==========================================================================
        TEMPLATE MIXINS
        ========================================================================== */

.displayInlineBlock(@vAlign: top) {
    display: inline-block;
    *display: inline;
    vertical-align: @vAlign;
    *vertical-align: @vAlign;
}

.displayNone() {
    display: none !important;
}

.displayTable() {
    display: table !important;
}

.positionAbsolute() {
    position: absolute !important;
}

.positionFixed() {
    position: fixed !important;
}

.displayTableCell(@vAlign: middle) {
    display: table-cell;
    vertical-align: @vAlign;
}

.overflowScrollingTouch() {
    -webkit-overflow-scrolling: touch;
}

.fontAwsome(@icon) {
    @faPrefix: "fa-var-@{icon}";
    .fa-icon();
    content: @@faPrefix;
}

.disableSelect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ==========================================================================
        STICKY FOOTER
        ========================================================================== */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: @footerHeight;
    font-family: @fontFamily;
    overflow-y: scroll;
}

.mobileMode {
    margin-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: @footerHeight;
    .mobileMode & {
        position: relative;
    }
}


/* ==========================================================================
        GLOBAL STYLES
        ========================================================================== */

body {
    background-color: @white;
    letter-spacing: 0.3px;
    font-family: @fontFamily;
    color: @defaultColor;
}

.displayTableCell {
    .displayTableCell();
}

.displayTable {
    .displayTable();
}

.mm-page {
    box-shadow: none !important;
}

#mm-navbar {
    * {
        // background-color: @greyMid !important;
        font-family: @fontFamily !important;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.7px;
    }
}


/* ==========================================================================
       HEADER
       ========================================================================== */

.header {
    height: @headerHeight;
    > .container {
        height: 100%;
        .navbar-header {
            height: 100%;
            .mobileMode & {
                height: @mobileHeaderHeight;
            }
            .navbar-brand {
                height: 100%;
                padding: 0px;
                margin: 0px;
                img {
                    height: 100%;
                }
            }
        }
        #navbar {
            height: 100% !important;
            .mobileMode & {
                display: none !important;
            }
            > ul {
                height: 100%;
                > li {
                    height: 100%;
                    > a {
                        padding: 0px;
                        height: 100%;
                        display: table;
                        span {
                            .displayTableCell();
                        }
                    }
                }
            }
        }
    }
}

.mobileMode {
    .mm-list {
        padding-top: @mobileHeaderHeight;
    }
}

#menu-main-menu {
    li {
        &:hover {
            > .sub-menu {
                display: block;
                .sub-menu {
                    top: 0px;
                    left: 100%;
                }
            }
        }
    }
}


/* ==========================================================================
        HEADER OVERRIDES
        ========================================================================== */

.header {
    height: @headerHeight;
    background-color: @white;
    display: block;
    .mobileMode & {
        height: @mobileHeaderHeight;
    }
    @media (max-width: @screen-sm-min) {
        height: @mobileHeaderHeight;
    }
    > .container {
        @media (max-width: @screen-md-min) {
            width: 90%
        }
    }
    .navbar-header {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        .logoContainer {
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            .navbar-brand {
                line-height: inherit;
                height: inherit;
                padding: 0;
                margin: 0;
                img {
                    height: 120px;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    @media (max-width: @screen-sm-min) {
                        height: 100px;
                    }
                    .mobileMode & {
                        height: 100px;
                    }
                }
            }
        }
        .toggleContainer {
            .mobileMode & {
                display: table;
                height: 100%;
                float: right;
                .displayTable {
                    height: 100%;
                    .navbar-toggle {
                        display: block;
                        margin: 0px;
                    }
                }
            }
            @media (max-width: @screen-md-min) {
                display: table;
                height: 100%;
                float: right;
                .displayTable {
                    height: 100%;
                    .navbar-toggle {
                        display: block;
                        margin: 0px;
                    }
                }
            }
        }
        .loginFormWrapper {
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0px;
            color: @relaGray;
            font-size: 10px;
            text-transform: uppercase;
            .mobileMode & {
                display: none !important;
            }
            @media (max-width: @screen-sm-min) {
                display: none !important;
            }
            .loginFormTable {
                .displayTableCell(bottom);
                padding: 0 0 10% 0;
                .loginFormBox {
                    #idLoginTitle {
                        font-weight: @fontWeightSemibold;
                        padding-left: 2px;
                    }
                    .input_box {
                        float: left;
                    }
                    input {
                        margin: 5px 10px 5px 0;
                        width: 120px;
                        height: 20px;
                        padding: 1px 7px;
                        border: solid 1px @greyLight;
                    }
                    .loginBoxLoginButton {
                        font-weight: @fontWeightSemibold;
                        background-color: @relaGray;
                        color: @white;
                        border: 0;
                        width: 48px;
                    }
                }
            }
        }
    }
    #headerNavBox {
        background-color: @turquoise;
        margin: 0 auto;
        text-align: center;
        .mobileMode & {
            display: none;
        }
        .container {
            margin: 0 auto;
            padding: 0;
            width: @containerWidth;
            #navbar {
                #menu-main-menu {
                    .dropdown-menu {
                        padding: 0;
                        margin-top: -1px;
                    }
                    li {
                        &:first-child {
                            border-left: solid 1px @white;
                        }
                        a {
                            color: @white;
                            padding: 20px 25px;
                            font-size: 16px;
                            text-transform: uppercase;
                            font-family: @fontFamily;
                            font-weight: @fontWeightSemibold;
                            border-right: solid 1px @white;
                            @media (max-width: @screen-md-min) {
                                display: none;
                            }
                            &:hover {
                                color: @white;
                                .transition(0.5s);
                                background-color: @subNavBgColor;
                            }
                        }
                    }
                    .sub-menu {
                        li {
                            &:first-child {
                                border: 0;
                            }
                            a {
                                color: @greyDarker;
                                padding: 8px 12px;
                                font-size: 14px;
                                &:hover {
                                    color: @white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ==========================================================================
        FOOTER OVERRIDES
        ========================================================================== */

.footer {
    background-color: @relaGray;
    display: table;
    text-align: center;
    font-size: 11px;
    line-height: 200%;
    color: @white;
    > .container {
        display: table-cell;
        vertical-align: middle;
    }
    .footerLinks {
        font-weight: @fontWeightSemibold;
        a {
            color: @white;
            font-size: 14px;
        }
    }
    .footerInfo {
        line-height: 225%;
        a {
            color: @white;
        }
        strong {
            font-size: 14px;
            font-weight: @fontWeightbold;
            letter-spacing: 2px;
        }
        .pipe {
            padding: 0px 8px;
        }
    }
    .mobileMode & {
        position: relative;
        font-size: 11px;
        font-weight: @fontWeightRegular;
        line-height: 20px;
    }
}

.socialMedia {
    display: table;
    margin: 0px auto;
    a {
        color: @relaGray;
    }
    &-item {
        width: 30px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    &-facebook, &-linkedin, &-instagram, &-twitter {
        color: @relaGray;
        font-size: 20px;
        .transition(all 0.5s);
        .fa-stack();
        &:hover {
            color: @turquoise;
        }
        .circle {
            &:before {
                .fontAwsome(circle);
                .fa-stack-2x();
            }
        }
    }
    &-facebook {
        .icon {
            &:before {
                .fontAwsome(facebook);
                .fa-stack-1x();
                .fa-inverse();
            }
        }
    }
    &-instagram {
        .icon {
            &:before {
                .fontAwsome(instagram);
                .fa-stack-1x();
                .fa-inverse();
            }
        }
    }
    &-linkedin {
        .icon {
            &:before {
                .fontAwsome(linkedin);
                .fa-stack-1x();
                .fa-inverse();
            }
        }
    }
    &-twitter {
        .icon {
            &:before {
                .fontAwsome(twitter);
                .fa-stack-1x();
                .fa-inverse();
            }
        }
    }
}


/* ==========================================================================
        PAGE CONTAINER
        ========================================================================== */

body {
    color: @defaultColor;
    .container {
        padding-left: 0;
        padding-right: 0;
        width: @containerWidth;
        @media (max-width: @screen-md-min) {
            width: inherit;
        }
        h2 {
            text-align: center;
            font-size: 40px;
            font-weight: @fontWeightbold;
            color: @black;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 42px 0 50px 0;
        }
        .the_content, .secondary_editor {
            width: 80%;
            margin: 0 auto 30px auto;
            h1, h2, h3, h4, h5, h6 {
                font-weight: @fontWeightbold;
                margin: 40px 0 50px 0;
                letter-spacing: 2px;
            }
            p, li {
                font-size: 18px;
                padding: 0 0 40px 0;
                line-height: 200%;
            }
            a {
                .transition(0.5s);
                color: @subNavBgColor;
                text-decoration: none;
                &:hover {
                    outline: 0;
                    color: @greyLight;
                }
                &:focus {
                    outline: none;
                }
            }
            .alignleft {
                float: left;
                margin: 0 20px 0 0;
            }
            .alignright {
                float: right;
                margin: 0 0 0 20px;
            }
        }
    }
    .slideShowContainer {
        margin-top: @headerHeight + @headerNavBoxHeight;
        height: 397px;
        @media (max-width: @screen-md-min) {
            margin-top: @headerHeight;
            height: 290px;
        }
        @media (max-width: @screen-sm-min) {
            margin-top: @mobileHeaderHeight;
            height: 200px;
        }
    }
    .subNavContainer {
        background-color: @subNavBgColor;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                display: inline-block;
                padding: 20px 10px;
                a {
                    color: @white;
                    text-transform: uppercase;
                    padding: 22px 10px;
                    &:hover {
                        .transition(0.5s);
                        background-color: rgba(255, 255, 255, 0.2);
                        text-decoration: none;
                    }
                }
            }
            @media (max-width: @screen-md-min) {
                display: none;
            }
        }
    }
}

.mobileMode & {
    .slideShowContainer, .bannerMap {
        margin-top: @mobileHeaderHeight !important;
    }
}


/* ==========================================================================
        PAGE SPECIFIC
        ========================================================================== */

#home {
    .pageSection {
        .pageHome {
            .homeSlideContainer {
                margin-top: @headerHeight + @headerNavBoxHeight;
                height: 770px;
                @media (max-width: @screen-lg-min) {
                    height: 550px;
                }
                @media (max-width: @screen-md-min) {
                    margin-top: @headerHeight;
                    height: 350px;
                }
                @media (max-width: @screen-sm-min) {
                    margin-top: @mobileHeaderHeight;
                    height: 250px;
                }
                .mobileMode& {
                    margin-top: @mobileHeaderHeight;
                }
                .slideContainer {
                    .slideOverlay {
                        background-color: rgba(0, 0, 0, 0.5);
                        .container {
                            height: 770px;
                            position: relative;
                            display: table;
                            @media (max-width: @screen-lg-min) {
                                height: 550px;
                                width: 90%;
                            }
                            @media (max-width: @screen-md-min) {
                                height: 350px;
                            }
                            @media (max-width: @screen-sm-min) {
                                height: 250px;
                            }
                            .slideControls {
                                display: table;
                                width: 100%;
                                height: inherit;
                                position: absolute;
                                .slideControl {
                                    display: table-cell;
                                    vertical-align: middle;
                                    font-size: 100px;
                                    color: @white;
                                    .disableSelect();
                                    @media (max-width: @screen-md-min) {
                                        font-size: 45px;
                                    }
                                }
                                .prev {
                                    text-align: left;
                                    position: relative;
                                    z-index: 900;
                                    cursor: pointer;
                                }
                                .next {
                                    text-align: right;
                                    position: relative;
                                    z-index: 900;
                                    cursor: pointer;
                                }
                            }
                            .slideContent {
                                position: relative;
                                width: 90%;
                                text-align: center;
                                z-index: 950;
                                .displayTableCell(middle);
                                .the_title {
                                    color: @white;
                                    margin: 0px 0 35px 0;
                                    font-size: 50px;
                                    @media (max-width: @screen-md-min) {
                                        margin: 0px 0 5px 0;
                                        font-size: 22px;
                                    }
                                }
                                .the_content {
                                    @media (max-width: @screen-md-min) {
                                        margin: 0 auto;
                                    }
                                     @media (max-width: @screen-sm-min) {
                                        display: none;
                                    }
                                    p {
                                        color: @white;
                                        font-size: 20px;
                                        margin: 0;
                                        line-height: 150%;
                                        @media (max-width: @screen-md-min) {
                                            font-size: 14px;
                                            margin: 5px 0 5px 0;
                                            line-height: 20px;
                                            padding: 0 0 10px 0;
                                        }
                                    }
                                }
                                a {
                                    color: @white;
                                    border: solid 3px @white;
                                    display: inline-block;
                                    padding: 5px 15px;
                                    font-size: 24px;
                                    font-weight: 700;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    .transition(0.5s);
                                    &:hover {
                                        color: @white;
                                        background-color: @subNavBgColor;
                                        text-decoration: none;
                                    }
                                    @media (max-width: @screen-md-min) {
                                        font-size: 12px;
                                        padding: 5px 10px;
                                        z-index: 999;
                                        position: relative;
                                    }
                                }
                            }
                        }
                    }
                }
                .slideButtons {
                    display: block;
                    position: relative;
                    width: 100%;
                    z-index: 999;
                    color: @white;
                    text-align: center;
                    top: -45px;
                    @media (max-width: @screen-md-min) {
                        display: none;
                    }
                    .slideButton {
                        display: inline-block;
                        font-size: 20px;
                        padding: 5px 10px;
                    }
                    .current {
                        color: @turquoise;
                    }
                }
            }
            .upcoming-events {
                padding: 76px 0;
                @media (max-width: @screen-md-min) {
                    padding-top: 20px;
                }
                .container {
                    h3 {
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 40px;
                        font-weight: @fontWeightbold;
                        letter-spacing: 2px;
                        margin: 0 0 80px 0;
                        color: @black;
                        @media (max-width: @screen-md-min) {
                            font-size: 23px;
                            text-align: left;
                            padding: 0 15px;
                            margin: 0 0 15px 0;
                        }
                    }
                    .event-listing {
                        .eventItem {
                            @media (max-width: @screen-md-min) {
                                padding-top: 10px;
                            }
                            .eventLeft {
                                .displayInlineBlock(top);
                                width: 28%;
                                padding: 0 30px 0 0;
                                text-align: right;
                                vertical-align: top;
                                @media (max-width: @screen-md-min) {
                                    display: block;
                                    text-align: left;
                                    width: 100%;
                                    padding: 0 15px;
                                }
                                .eventDate {
                                    font-size: 30px;
                                    letter-spacing: 1px;
                                    margin: 0 0 5px 0;
                                    color: @black;
                                    text-transform: uppercase;
                                    font-weight: @fontWeightSemibold;
                                    @media (max-width: @screen-md-min) {
                                        width: 100%;
                                        font-size: 20px;
                                    }
                                }
                                .eventChapter {
                                    h4 {
                                        padding: 0;
                                        margin: 0;
                                        .the_title {
                                            font-size: 17px;
                                            letter-spacing: 1px;
                                            font-weight: @fontWeightSemibold;
                                            color: inherit;
                                        }
                                    }
                                }
                            }
                            .eventRight {
                                .displayInlineBlock(top);
                                width: 71%;
                                border-left: solid 6px @turquoise;
                                text-align: left;
                                padding: 0 0 0 30px;
                                @media (max-width: @screen-md-min) {
                                    display: block;
                                    text-align: left;
                                    width: 100%;
                                    border-left: 0px;
                                    padding: 0 0 0 15px;
                                }
                                h4 {
                                    margin: 5px 0 10px 0;
                                    text-align: left;
                                    font-size: 24px;
                                    letter-spacing: 1px;
                                    color: @black;
                                    font-weight: @fontWeightSemibold;
                                    @media (max-width: @screen-md-min) {
                                        display: block;
                                        text-align: left;
                                        width: 100%;
                                        color: @black;
                                        font-size: 18px;
                                        margin: 15px 0 10px 0;
                                        line-height: 150%;
                                    }
                                }
                                .the_content {
                                    margin: 0 0 10px 0;
                                    width: 100%;
                                    p {
                                        font-size: 22px;
                                        color: @black;
                                        margin: 0 0 20px 0;
                                        padding: 0;
                                        line-height: 150%;
                                        letter-spacing: 1px;
                                        @media (max-width: @screen-md-min) {
                                            display: block;
                                            padding: 0;
                                            text-align: left;
                                            width: 100%;
                                            font-size: 16px;
                                        }
                                    }
                                }
                                .eventLink {
                                    margin-bottom: 45px;
                                    @media (max-width: @screen-md-min) {
                                        margin: 0 0 25px 0;
                                    }
                                    a {
                                        font-size: 18px;
                                        color: @black;
                                        font-weight: @fontWeightSemibold;
                                        text-transform: uppercase;
                                        &:hover {
                                            .transition(0.5s);
                                            color: @turquoise;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .eventItem:nth-child(3n) {
                        .eventLink {
                            margin-bottom: 0 !important;
                        }
                    }
                    h6 {
                        margin: 60px 0 0 0;
                        padding: 0;
                        width: 84%;
                        text-align: center;
                        .internalLink {
                            .transition(0.5s);
                            color: @black;
                            font-size: 18px;
                            text-transform: uppercase;
                            font-weight: @fontWeightSemibold;
                            letter-spacing: 1px;
                            padding: 5px 20px;
                            border: solid 2px @black;
                            &:hover {
                                text-decoration: none;
                                background-color: @subNavBgColor;
                            }
                            @media (max-width: @screen-md-min) {
                                width: 100%;
                                font-size: 15px;
                                padding: 5px 20px;
                            }
                        }
                    }
                }
            }
            .sponsor-listings {
                border-top: 22px solid @greyLighter;
                padding: 50px 0 0 0;
                h3 {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 40px;
                    font-weight: @fontWeightbold;
                    letter-spacing: 2px;
                    margin: 0 0 80px 0;
                    color: @black;
                    @media (max-width: @screen-md-min) {
                        font-size: 23px;
                        text-align: left;
                        padding: 0 15px;
                        margin: 0 0 15px 0;
                    }
                }
                .sponsor-type-listings {
                    text-align: center;
                    .sponsorTypeItem {
                        .displayInlineBlock;
                        width: 29%;
                        margin: 0 2% 30px 2%;
                        text-align: center;
                        @media (max-width: @screen-sm-min) {
                            width: 45%;
                        }
                        .the_title {
                            font-size: 16px;
                            color: @white;
                            font-weight: @fontWeightSemibold;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            background-color: @turquoise;
                            padding: 15px;
                        }
                        .sponsorCarousel {
                            width: 200px;
                            margin: 30px auto;
                            @media (max-width: @screen-sm-min) {
                                margin: 15px auto;
                                width: 150px;
                            }
                            .sponsorLogo {
                                height: 200px;
                                width: 200px;
                                @media (max-width: @screen-sm-min) {
                                    height: 150px;
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
                .sponsor-chapter-listings {
                    text-align: center;
                    .sponsorChapterItem {
                        .displayInlineBlock;
                        width: 17%;
                        margin: 0 2% 30px 2%;
                        text-align: center;
                        @media (max-width: @screen-sm-min) {
                            width: 30%;
                        }
                        .the_title {
                            font-size: 16px;
                            color: @black;
                            font-weight: @fontWeightbold;
                            text-transform: uppercase;
                        }
                        .sponsorCarousel {
                            width: 140px;
                            margin: 20px auto;
                            @media (max-width: @screen-sm-min) {
                                margin: 10px auto;
                                width: 90px;
                            }
                            .sponsorLogo {
                                height: 140px;
                                width: 140px;
                                @media (max-width: @screen-sm-min) {
                                    height: 90px;
                                    width: 90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#national-board & {
    .pageSection {
        .the_content {
            margin: 0 auto 0 auto;
            text-align: center;
        }
        .nationalBoardContainer {
            text-align: center;
            padding-bottom: 40px;
            .the_title {
                font-size: 18px;
                color: @black;
                font-weight: @fontWeightSemibold;
                text-transform: uppercase;
                padding-bottom: 40px;
            }
            .boardTypeItem:first-child {
                .the_title {
                    display: none;
                }
            }
            .personItem {
                .displayInlineBlock;
                width: 29%;
                margin: 0 2% 30px 2%;
                text-align: center;
                @media (max-width: @screen-sm-min) {
                    width: 45%;
                }
                a {
                    text-decoration: none;
                    color: @defaultColor;

                }
                .personPhoto {
                    margin: auto;
                    height: 170px;
                    width: 170px;
                    .transition(0.5s);
                    &:hover {
                        .opacity(.8);
                    }
                }
                .personInfoBlock {
                    padding: 10px;
                    font-size: 15px;
                    .transition(0.5s);
                    &:hover {
                        .opacity(.6);
                    }
                    .person_board_title {
                        font-style: italic;
                    }
                    .person_name {
                        font-weight: @fontWeightSemibold;
                        font-size: 18px;
                    }
                }
            }
        }
        .personPage {
            .personPhotoBlock{
                .displayInlineBlock;
                width: 18%;
                .personPhoto {
                    margin: auto;
                    height: 170px;
                    width: 170px;
                }
            }
            .personInfoBlock {
                .displayInlineBlock;
                width: 78%;
                margin: 0 0% 30px 2%;
                font-size: 18px;
                line-height: 200%;
                .person_company {
                    font-style: italic;
                }
                .personName {
                 font-weight: @fontWeightbold;
                 letter-spacing: 1px;
                 font-size: 24px;
                 color: @black;
                 text-transform: uppercase;
                 }
             .the_content{
                padding: 40px 0;
                text-align: left;
                width: 100%;
                }
            }
        }
    }
}

#rela-in-the-news & {
    .pageSection {
        .the_content {
            font-size: 18px;
            padding: 0 0 40px 0;
            line-height: 200%;
        }
    }
}

#membership & {
    .pageSection {
        .the_content {
            margin: 0 auto;
        }
        .chapterDuesContainer {
            font-size: 18px;
            line-height: 200%;
            width: 80%;
            margin: 0 auto;
            .chapterDuesItem {
                margin-bottom: 40px;
                .the_title {
                    .displayInlineBlock;
                    width: 160px;
                }
                .chapterDuesDues {
                    .displayInlineBlock;
                }
            }
        }
        .secondary_editor {
            margin: 0 auto 30px auto;
        }
    }
}

#chapters & {
    .subNavContainer {
        background-color: @chaptersBlue;
    }
    .pageSection {
        .chapterLinksContainer {
            text-align: center;
            position: relative;
            z-index: 999;
            .chapterLinkItem {
                .displayInlineBlock;
                .transition(0.5s);
                text-align: center;
                background-color: @turquoise;
                background-color: rgba(0, 0, 0, 0.5);
                width: 193px;
                margin: 0 1px 1px 0;
                position: relative;
                @media (max-width: @screen-sm-min) {
                    width: 186px;
                }
                a {
                    text-decoration: none;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
                .chapterLinkPhoto {
                    height: 193px;
                    width: 100%;
                    text-align: center;
                    display: table;
                    @media (max-width: @screen-sm-min) {
                        height: 186px;
                    }
                    .the_title {
                        .displayTableCell(middle);
                        color: @white;
                        font-size: 24px;
                        font-weight: @fontWeightSemibold;
                        letter-spacing: 2px;
                        line-height: 120%;
                    }
                    .backstretch {
                        [class*="internet-explorer"] & {
                            display: none;
                        }
                    }
                }
            }
        }
        .secondaryContainer {
            background-color: @chaptersBlue;
            width: 100%;
            margin: -40px auto 0 auto;
            color: @white;
            .secondary_editor {
                margin: 90px auto 30px auto;
                a {
                    color: @white;
                }
                p {
                    line-height: 180%;
                }
                h3 {
                    font-weight: @fontWeightSemibold;
                    margin: 40px 0 30px 0;
                }
            }
        }
        .chaptersSubpage {
            h2 {
                margin: 40px 0 15px 0;
                color: @black;
            }
            h3 {
                margin: 0 0 50px 0;
                color: @black;
            }
            .chapterLinks {
                .sponsorsLink, .joinLink {
                    .displayInlineBlock;
                    .transition(0.5s);
                    text-align: center;
                    background-color: @chaptersBlue;
                    width: 49%;
                    font-weight: @fontWeightSemibold;
                    text-transform: uppercase;
                    padding: 30px;
                    font-size: 30px;
                    letter-spacing: 2px;
                    @media (max-width: @screen-md-min) {
                        padding: 24px;
                        font-size: 24px;
                    }
                    @media (max-width: @screen-sm-min) {
                        width: 100%;
                        margin-bottom: 2px;
                    }
                    a {
                        color: @white;
                        text-decoration: none;
                    }
                    &:hover {
                        background-color: @turquoise;
                    }
                }
                .joinLink {
                    width: 50%;
                    @media (max-width: @screen-sm-min) {
                        width: 100%;
                        margin-bottom: 2px;
                    }
                }
            }
            .chapterOfficersContainer {
                font-size: 18px;
                line-height: 200%;
                background-color: @greyLightest;
                width: 99.5%;
                padding: 60px;
                text-align: center;
                @media (max-width: @screen-md-min) {
                    padding: 40px;
                }
                .the_title, .person_chapter_sub_title {
                    font-weight: @fontWeightSemibold;
                }
                .chapterOfficersTitle {
                    font-size: 26px;
                    font-weight: @fontWeightSemibold;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                    letter-spacing: 1px;
                }
                .chapterTitleItem {
                    .displayInlineBlock;
                    width: 30%;
                    margin: 0 1% 30px 1%;
                    text-align: left;
                    line-height: 150%;
                    @media (max-width: @screen-md-min) {
                        width: 48%;
                    }
                    @media (max-width: @screen-sm-min) {
                        text-align: center;
                        width: 98%;
                    }
                }
            }
            .sponsor-chapter-listings {
                text-align: center;
                .chapterSponsorsTitle {
                    font-size: 26px;
                    font-weight: @fontWeightSemibold;
                    text-transform: uppercase;
                    margin: 40px;
                    letter-spacing: 1px;
                }
                .sponsorItem {
                    .displayInlineBlock;
                    width: 17%;
                    margin: 0 2% 30px 2%;
                    text-align: center;
                    @media (max-width: @screen-sm-min) {
                        width: 30%;
                    }
                    .sponsorLogo {
                        height: 140px;
                        width: 140px;
                        margin: auto;
                        @media (max-width: @screen-sm-min) {
                            height: 90px;
                            width: 90px;
                        }
                    }
                }
            }
        }
    }
}

#events & {
    .slideShowContainer {
        border-bottom: 1px solid @greyLighter;
    }
    .pageSection {
        margin-top: 50px;
        .chapterColorsContainer {
            text-align: center;
            margin-bottom: 16px;
            .chapterColorsItem {
                .displayInlineBlock;
                margin: 0 2% 30px 2%;
                .chapterColorBox {
                    .displayInlineBlock;
                    margin: 0 10px 0 0;
                    height: 18px;
                    width: 18px;
                }
                .the_title {
                    .displayInlineBlock;
                    text-align: left;
                    font-size: 16px;
                    line-height: 130%;
                    letter-spacing: 1px;
                    margin: 0;
                    font-weight: @fontWeightbold;
                    text-transform: uppercase;
                }
            }
        }
        .fc-ltr {
            margin: 0 auto 60px auto;
            .fc-header-title h2 {
                margin: 10px 10px 35px 10px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 40px;
                color: @black;
                @media (max-width: @screen-md-min) {
                    margin: 23px 0 0 0;
                    font-size: 20px;
                }
            }
            .fc-state-default {
                .transition(0.5s);
                background-color: @white;
                background-image: none;
                color: @black;
                border: 0px;
                box-shadow: none;
                margin: 0;
                padding: 0;
                font-size: 40px;
                &:hover {
                    .opacity(.6);
                }
            }
            .fc-button .fc-icon {
                margin: 30px;
                font-size: 40px;
                font-family: @fontFamily;
                @media (max-width: @screen-md-min) {
                    margin: 0;
                }
            }
            .fc-button {
                line-height: 150%;
            }
            .fc-icon-right-single-arrow:after {
                font-weight: @fontWeightRegular;
            }
            .fc-icon-left-single-arrow:after {
                font-weight: @fontWeightRegular;
            }
            thead {
                .displayNone()
            }
            .fc-content {
                @media (max-width: @screen-md-min) {
                    font-size: 10px;
                }
                .fc-day-number {
                    padding: 3px 0 0 5px !important;
                    width: 10px;
                    text-align: center;
                    float: left;
                    font-weight: @fontWeightSemibold;
                }
                .fc-day {
                    .transition(0.5s);
                    background-color: @greyLightest;
                    border: 5px solid white;
                    &:hover {
                        .opacity(.6);
                    }
                }
                .fc-event {
                    .transition(0.5s);
                    background: transparent !important;
                    border: 0px;
                    text-align: center;
                    padding: 0 0 5px 0;
                    margin-bottom: 10px;
                    cursor: pointer;
                    font-weight: @fontWeightbold;
                    &:hover {
                        .opacity(.6);
                    }
                }
            }
        }
        h3 {
            font-size: 22px;
            font-size: 22px;
            margin: 0 auto 60px auto;
            padding-bottom: 10px;
            border-bottom: 1px solid @greyLight;
            text-align: center;
            font-weight: @fontWeightbold;
            color: @black;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .eventText {
            .displayInlineBlock;
            width: 70%;
            @media (max-width: @screen-md-min) {
                width: 100%;
            }
        }
        .eventInfo {
            .displayInlineBlock;
            margin-bottom: 60px;
            width: 29%;
            background-color: @greyLightest;
            font-size: 18px;
            padding: 20px;
            line-height: 200%;
            @media (max-width: @screen-md-min) {
                width: 100%;
                margin-bottom: 0;
                padding: 20px 10%;
            }
            .bold, .eventLink {
                color: @turquoise;
                font-weight: @fontWeightSemibold;
            }
            .eventTime, .eventLocation, .eventAddress, .eventLink {
                margin-bottom: 20px;
            }
            .eventLink {
                border-top: 1px solid @turquoise;
                padding-top: 10px;
                a {
                    .transition(0.5s);
                    color: @turquoise;
                    text-decoration: none;
                    &:hover {
                        .opacity(.6);
                    }
                }
            }
        }
    }
}

#gallery & {
    .pageSection {
        margin-top: @headerHeight + @headerNavBoxHeight;
        @media (max-width: @screen-md-min) {
            margin-top: @headerHeight;
        }
        @media (max-width: @screen-sm-min) {
            margin-top: @mobileHeaderHeight;
        }
        .mobileMode& {
            margin-top: @mobileHeaderHeight;
        }
        .the_content {
            .itemsContainer {
                margin: 30px 0 60px 0;
                .eventPhotosItem {
                    .displayInlineBlock;
                    width: 30%;
                    margin: 30px 2% 0 1%;
                    @media (max-width: @screen-sm-min) {
                        width: 47%;
                    }
                    a {
                        text-decoration: none;
                        .the_title {
                            .transition(0.5s);
                            font-size: 18px;
                            margin: 10px 0 0 2px;
                            letter-spacing: 0.5px;
                            text-align: left;
                            font-weight: @fontWeightSemibold;
                            line-height: 120%;
                            color: @black;
                            &:hover {
                                .opacity(.6);
                            }
                        }
                        .eventFeaturedImage {
                            .transition(0.5s);
                            height: 180px;
                            max-width: 100%;
                            border: 1px solid @greyLighter;
                            .box-shadow(1px 1px 4px @greyLighter);
                            &:hover {
                                .opacity(.8);
                            }
                        }
                    }
                }
            }
            .galleryImageLink {
                .displayInlineBlock;
                margin: 0 0 10px 10px;
                .galleryImage {
                    .transition(0.5s);
                    height: 100px;
                    width: 100px;
                    border: 1px solid @greyLighter;
                    &:hover {
                        .opacity(.8);
                    }
                }
            }
        }
    }
}

#contact & {
    .bannerMap {
        margin-top: @headerHeight + @headerNavBoxHeight;
        height: 397px;
        border-bottom: 1px solid @greyLighter;
        @media (max-width: @screen-md-min) {
            margin-top: @headerHeight;
            height: 290px;
        }
        @media (max-width: @screen-sm-min) {
            margin-top: @mobileHeaderHeight;
            height: 200px;
        }
    }
}